[submodule "deps/blasr_libcpp"]
	path = deps/blasr_libcpp
	url = https://github.com/ggraham/blasr_libcpp
[submodule "deps/pbcopper"]
	path = deps/pbcopper
	url = https://github.com/ggraham/pbcopper.git
[submodule "deps/pbbam"]
	path = deps/pbbam
	url = https://github.com/ggraham/pbbam.git
[submodule "deps/hdf5"]
	path = deps/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "deps/meson"]
	path = deps/meson
	url = https://github.com/mesonbuild/meson.git
